<div class="container">
    <h1 class="text-center text-capitalize">registrazione utente</h1>
    <form action="">
        <div class="m-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>

        <div class="m-3">
            <label for="surname" class="form-label">Cognome</label>
            <input type="text" name="surname" id="surname" class="form-control">
        </div>

        <div class="m-3">
            <label for="sex" class="form-label">Sesso</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Scegli...</option>
                <option value="1">Uomo</option>
                <option value="2">Donna</option>
                <option value="3">Preferisco non specificare</option>
              </select>
        </div>

        <div class="m-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control">
        </div>

        <div class="m-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>

        <div class="m-3">
            <label for="birth-date" class="form-label">Data di nascita</label>
            <input type="date" name="birth-date" id="birth-date" class="form-control">
        </div>

        <div class="m-3">
            <label for="telephone-number" class="form-label">Numero di telefono</label>
            <input type="number" name="telephone-number" id="telephone-number" class="form-control">
        </div>

        <div class="m-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Accetto i termini di servizio</label>
        </div>
        
    </form>
</div>
